:root {
  --color-gray-100: #d9d9d9;
  --color-gray-500: #888b8f;
  --color-blue-800: #000847;
  --color-blue-50: #f7f8fd;
  --color-blue-100: #bfe4fd;
  --color-blue-200: #1a73e8;
  --color-green-200: #43eda3;
}

/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* global */

.app {
  margin: 2rem 0;
}

/* table */

table {
  border-collapse: collapse;
  min-width: 50vw;
}

th {
  padding: 1rem;
  min-width: 14vw;
}

tr {
  border-bottom: 1px solid var(--color-gray-100);
  text-align: center;
}

td {
  color: var(--color-gray-500);
  min-width: 14vw;
  font-size: 0.87rem;
}

.table-head {
  color: var(--color-blue-800);
  background-color: var(--color-blue-50);
  font-size: 0.87rem;
}

/* status */

.filled {
  background-color: var(--color-green-200);
  border-radius: 50%;
  padding: 6px;
  border: 1px solid transparent;
}

.empty {
  border-radius: 50%;
  padding: 6px;
  border: 1px solid var(--color-blue-200);
}

/* chart */

.pie-chart {
  border: 1px solid var(--color-blue-100);
  border-radius: 50%;
  position: relative;
}

.chart-desc {
  text-transform: uppercase;
  color: var(--color-gray-500);
  font-size: 6px;
  position: absolute;
  left: 1.125rem;
  top: 3.8rem;
}

/* utility */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 2rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.desc {
  text-transform: uppercase;
  color: var(--color-gray-500);
  font-size: 6px;
  position: absolute;
  top: 2rem;
}

.line {
  border-bottom: 1px solid var(--color-green-200);
  width: 4vw;
}

.px-sm {
  padding: 0 5px;
}

.scrollable {
  width: 100% !important;
  overflow-x: scroll;
}

/* media queries */

@media (max-width: 1200px) {
  .scrollable {
    width: 100% !important;
    overflow-x: scroll;
  }

  th,
  td {
    min-width: 200px;
  }
}
